---
import type { Props } from '@astrojs/starlight/props';

const path = Astro.url.pathname;
const root = path.split('/')[1];
// Default title.
let siteTitle = "Literate";
switch (root) {
  case "pawnote":
    siteTitle = "Pawnote";
    break;
}

const siteTitleHref = `/${root}`;

---
<a href={siteTitleHref} class="site-title sl-flex">
  {siteTitle}
</a>

<style>
	.site-title {
		align-items: center;
		gap: var(--sl-nav-gap);
		font-size: var(--sl-text-h4);
		font-weight: 600;
		color: var(--sl-color-text-accent);
		text-decoration: none;
		white-space: nowrap;
	}
</style>
